# Ignorar configurações do editor
.vscode/
.vs/

# Ignorar arquivos executáveis e de compilação
*.exe
*.obj
*.pdb
*.ilk
*.sln
*.vcxproj
*.filters
*.user

# Ignorar pastas de saída do compilador
bin/
obj/